@model Livraria.UI.Models.LivroEdicaoModel

@{
    ViewData["Title"] = "Edicao";
}

<h1>Edicao</h1>

<h4>LivroEdicaoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edicao">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdLivro" class="control-label"></label>
                <input asp-for="IdLivro" class="form-control" />
                <span asp-validation-for="IdLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemCapaUrl" class="control-label"></label>
                <input asp-for="ImagemCapaUrl" class="form-control" />
                <span asp-validation-for="ImagemCapaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="@Url.Content("/Livro/Consulta")" class="btn btn-dark">Voltar</a>
            </div>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success" role="alert" style="margin-top: 0.5rem;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.Message
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
